
body {
    background-color: #f0f8ff; 
    font-family: Verdana, sans-serif;
}

h1 {
    color: #008080; 
    border-bottom: 3px solid #008080; 
    text-align: center;
}

p {
    color: #333;
    font-size: 18px;
    padding: 10px;
    border: 1px dashed gray; 
    background-color: white;
    width: 50%;
    margin: auto; 
}